:root {
  --width: 1000px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

header {
  max-width: var(--width);
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

header > img {
  max-width: 8rem;
  width: 100%;
}

header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header nav a,
footer a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  margin: 0 0.5rem;
}

header nav a.active {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

footer section article {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header nav img {
  margin-left: 1rem;
}

main {
  max-width: var(--width);
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

main article {
  height: 33rem;
  width: 100%;
  margin: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}

main article figure {
  margin: 0;
  padding: 2rem 1rem 2 2rem;
  background: rgb(244, 182, 10);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main article figure img {
  width: 30%;
}

main article h2 {
  margin: 0;
  padding: 0.5rem 1rem 0rem 1rem;
}
main article h3 {
  margin: 0;
  padding: 0rem 1rem 1rem 1rem;
  font-weight: 500;
  opacity: 0.6;
}

main article p {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  line-height: 140%;
}

main article button {
  appearance: none;
  border: none;
  background: #222;
  color: #eee;
  margin: auto auto 2rem auto;
  padding: 1rem 1.5rem;
  width: 6rem;
  border-radius: 0.25rem;
}

/* footer {
  background: rgba(0, 0, 0, 0.03);
  height: 16rem;
  display: flex;
  justify-content: center;
}

footer > section {
  max-width: var(--width);
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
 */
/* footer > section article {
  flex: 1;
  margin: 0 2rem;
}

footer > section article a {
  margin: 0.25rem 0;
} */

/* gabriel css */
#ingredients {
  width: 210px;
  height: 300px;
  resize: none;
}
